.cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 50px;
  width: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card > img {
  height: 150px;
}

.card > p {
  text-align: center;
}
